# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de build
dist/
build/
out/

# Arquivos do Electron
.electron-builder.env

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de IDE/Editor
.idea/
.vscode/
*.swp
*.swo
*.swn
*.bak

# Arquivos de ambiente
.env
.env.local
.env.*.local

# Arquivos do Minecraft
minecraft/
*.jar
*.zip

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Arquivos de cache
.cache/
.npm/
.eslintcache
