.violet_window_minimize,
.violet_window_close {
    filter: invert(1);
}

.setting_container {
    flex: 1;
    background-color: #dddddd;
    display: flex;
    padding: 40px;
    flex-direction: column;
    gap: 20px;
}

.setting_separator {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setting_label {
    font-size: 20px;
}

.setting_dir {
    display: flex;
    align-items: center;
    color: #888;
    background: #cccccc;
    border: 1px solid #a2a2a2;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: not-allowed;
}

.memory-slider-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

#memorySlider {
    width: 100%;
    height: 6px;
    background: #bbb;
    border-radius: 5px;
    outline: none;
    -webkit-appearance: none;
    appearance: none;
}

#memorySlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 16px;
    height: 16px;
    background: #8000ff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

#memorySlider::-moz-range-thumb {
    width: 16px;
    height: 16px;
    background: #8000ff;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}

.slider-labels {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    font-size: 12px;
    color: #555;
    padding: 0 2px;
}


.setting_minus {
    font-weight: 10px;
}