<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8" />
  <title>Violet Launcher</title>
  <link rel="stylesheet" href="styles/index.css" />
  <link rel="stylesheet" href="styles/login.css" />
</head>
<body>
  <div class="violet_window">
    <img class="violet_window_minimize" src="../assets/window_minimize.png" onclick="window.api.minimizeWindow()">
    <img class="violet_window_close" src="../assets/window_close.png" onclick="window.api.closeWindow()">
  </div>
  <div class="login_container">
    <div class="login_header">
        <img class="login_logo" src="../assets/logo_smp.png">
    </div>
    <form class="login_form" id="loginForm">
        <input class="login_input" type="text" id="username" placeholder="Usuário" required>
        <input class="login_input" type="password" id="password" placeholder="Senha" required>
        <div id="login-error" class="login_error" style="display: none;"></div>
        <button id="submitButton" type="submit">
            <img class="login_button" src="../assets/login_button.png">
        </button>
        <span class="create_account">Não tem uma conta? <a href="#" onclick="handleCreateAccount()">Crie uma.</a></span>
    </form>
  </div>
  <script>
    const form = document.getElementById('loginForm');
    const errorBox = document.getElementById('login-error');
    const submitButton = document.getElementById('submitButton');
  
    async function handleLogin(e) {
      e.preventDefault();
  
      const username = document.getElementById('username').value;
      const password = document.getElementById('password').value;
  
      submitButton.disabled = true;
      submitButton.style.cursor = 'not-allowed';
      submitButton.style.opacity = 0.6;
      document.body.style.cursor = 'wait';
  
      try {
        const response = await window.api.loginEly(username, password);
  
        if (response.success) {
          errorBox.style.display = 'none';
          window.api.loadIndex();
        } else {
          errorBox.textContent = response.message || 'Erro ao fazer login.';
          errorBox.style.display = 'block';
        }
      } finally {
        submitButton.disabled = false;
        submitButton.style.cursor = 'pointer';
        submitButton.style.opacity = 1;
        document.body.style.cursor = 'default';
      }
    }
  
    function handleCreateAccount() {
      window.api.openExternalLink('https://account.ely.by/register');
    }
  
    form.addEventListener('submit', handleLogin);
  </script>
</body>
</html> 